*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red-clr: #ff0000;
    --dark-red-clr: #cc0000;
    --blue: #3b4cca;
    --yellow: #ffde00;
    --gold: #b3a125;
    --white: #fcf7f8;
    --black: #100b00;
    --soft-dark: #262626;
    --transparent-clr: #2626264b;
    --soft-green: #00c04b;
}

body {
    background-color: var(--soft-dark);
    padding: 2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 1rem;
    color: var(--white);
    text-align: center;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

h1 img {
    height: 2.75em;
    width: auto;
}

/* App container */
.app-container {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Search */
.search-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.search-box {
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
}

.search-box #search-button {
    padding: 0.3rem 1rem;
    font-size: 1.125rem;
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--soft-green);
    cursor: pointer;
    transition: 1s ease;
}

.search-box #search-button:hover {
    background-color: var(--yellow);
}
/* Output */
.output-display {
    height: 50svh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 1rem;
}

.name-and-id {
    font-weight: 700;
    font-size: 1.1em;
}

.size {
    font-size: 0.85rem;
}

.pic-container {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sprite {
    width: 250px;
}

.output-info {
    margin-top: 1rem;
}

.output-info table {
    height: 50svh;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #f5f6f7;
}

th:nth-child(even),
td:nth-child(even) {
    border-left: 5px solid #f5f6f7;
}

tr {
    border-bottom: 5px solid #f5f6f7;
}

td,
th {
    text-align: center;
    padding: 8px;
}

th {
    font-size: 1.25rem;
    text-decoration: underline;
}

/* Pokemon type and color */

#types {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: row;
}

.type {
    width: 66px;
    padding: 5px;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 5px;
    background-color: red;
    text-transform: uppercase;
}

.normal {
    background-color: #b7b7aa;
}

.fire {
    background-color: #ff6f52;
}

.water {
    background-color: #42a1ff;
}

.electric {
    background-color: #fecc33;
}

.grass {
    background-color: #78cc55;
}

.ice {
    background-color: #66ccfe;
}

.fighting {
    background-color: #d3887e;
}

.poison {
    background-color: #c68bb7;
}

.ground {
    background-color: #dfba52;
}

.flying {
    background-color: #8899ff;
}

.psychic {
    background-color: #ff66a3;
}

.bug {
    background-color: #aabb23;
}

.rock {
    background-color: #baaa66;
}

.ghost {
    background-color: #9995d0;
}

.dragon {
    background-color: #9e93f1;
}

.dark {
    background-color: #b59682;
}

.steel {
    background-color: #abaabb;
}

.fairy {
    background-color: #ed99ed;
}
